@inject HistoricalNavigator HisNav

<div class="double-page">
    <div class="inner @AnimationClass">
        @for (var i = chi - 1; i <= chi + 1; ++i)
        {
            var offset = i - chi;

            var rd = i == chi ? HisNav.SetCurrentRouteData(RouteData) : HisNav.GetRelativeRoutData(offset);

            var className = i == chi - 1 ? "previous-page" : "";

            <div @key="@i" class="@className" style="--page-offset: @offset">
                @if (rd != null)
                {
                    <RouteView RouteData="@rd" />
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public RouteData? RouteData { get; set; } = null!;

    public String AnimationClass => chi < phi ? $"move-right-{AlternatorSuffix}" : $"move-left-{AlternatorSuffix}";

    Int32 AlternatorSuffix => chi % 2;

    Int32 phi, chi;

    protected override void OnParametersSet()
    {
        var hi = HisNav.CurrentHistoryIndex;

        if (hi != chi)
        {
            phi = chi;
            chi = hi;
        }
    }
}
