@inject HistoricalNavigator HisNav

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <MainLayout>
            <div class="d-flex gap-4">
                @{
                    var hi = HisNav.CurrentHistoryIndex;
                }

                @for (var i = hi - 1; i <= hi; ++i)
                {
                    var rd = i == hi ? HisNav.SetCurrentRouteData(routeData) : HisNav.GetPreviousRoutData();

                    <div @key="@i" class="flex-fill">
                        @if (rd != null)
                        {
                            <div>@i</div>
                            <RouteView RouteData="@rd" />
                        }
                    </div>
                }
            </div>
        </MainLayout>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p role="alert">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

<NavigationDelegationInstallation />
